<ul ng-attr-id="{{queryItem}}">
    <li>
        <input type="text" ng-model="param"/>
        <div class="btn btn-default add-button" ng-click="addParam({queryItem: queryItem, queryItemName: queryItemName, param: param}); param=''" >+</div>
        <div class="btn btn-default delete-button" ng-click="removeParam({queryItem: queryItem, param: param}); param=''" >-</div>
    </li>
    <li>
        <p>
            <span>{{queryItemName}}: </span>
            <strong>{{param}}</strong>
        </p>
    </li>

</ul>
